<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Test Log</title>
  </head>
  
  <style>
  .bootstrap-demo{margin:30px;}
  .pre-scrollable {
    max-height: 70%;
    overflow-y: scroll;
}
</style>

  <body> 
    <div class="col-lg"
           style='padding-top: 20px;'>
  <h3>Test Log</h3> </div>
  <div class="col-lg ml-lg-3 card" style='padding-top:20px; max-width:60vw;'>
  <h5 class="card-header">Contents</h5>
  <div class="card-body">
  <div class="col-lg pre-scrollable" style='max-width: 60vw;'>
    <pre>
    <p> LOG DATE - {{date}} </p>
    {{ data | safe }}
    </pre>
  </div>
  </div>
</div>
</div>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>