<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
$(function() {
           $("#download_{{id}}").click( function() {

                                var id={{id}}
                var redirectwindow = window.open('/download/'+id, '_blank')
                redirectwindow.location;                             
            })
            });
            </script>
    
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Full Report</title>
  </head>

  <body> 
    <div class="col-lg"
           style='padding-top: 20px;'>
  <h3>Full Report</h3><button type="button" class="btn btn-success" id="download_{{id}}">Download CSV</button> </div>

  <div class="col-lg"
           style='padding-top: 20px;'>
    
      <table id = "t" style="width: auto" class="table table-bordered">
{% set count = [] %}
{% for dat in data %}
{% if count.append(1) %} {% endif %}

    {% if 'testdmgmt' in dat[0] %}
    <tr>
    <td>
    <br>
    <h3> Device Management </h3>
    <br>
    </td>
    </tr>
    {% elif 'testmedia' in dat[0] %}
    
    <tr><td><br>
    <h3> Media </h3>
    <br></td></tr>
    
    {% elif 'testimg' in dat[0] %}
    
    <tr><td><br>
    <h3> Imaging </h3>
    <br></td></tr>
    
    {% elif 'testevents' in dat[0] %}

    <tr><td><br>
    <h3> Events </h3>
    <br></td></tr>
    
    {% elif 'testptz' in dat[0] %}
    
    <tr><td><br>
    <h3> PTZ </h3>
    <br></td></tr>
    
    {% else %}
    
    <tr>
        
        
        
        
        
        <td>{{ dat[0] }}</td>
        <td class='align-middle' >{% if dat[1]|length > 300 %}
        
        <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#viewFull{{count|length}}" role="button" aria-expanded="false" aria-controls="collapseExample">View Full</a>
          <div class="collapse" id="viewFull{{count|length}}">
            <pre>{{ dat[1] | safe }}</pre>
          </div>
        
        {% elif '<br/>' in dat[1] %}
        
        <span><pre>{{ dat[1] | safe }}</pre></span>
        
        {% else %}
            
            {% if dat[1] == 'Supported' %}
            
            <span style='color:green'> {{ dat[1] }}</span>
            
            {% elif dat[1] == 'Not Supported' %}
            
            <span style='color:red'> {{ dat[1] }}</span>
            
            {% else %}
        
            <span>{{ dat[1] }}</span>
            
            {% endif %}
        
        {% endif %} </td></tr>
        
    {% endif %}
    
{% endfor %}
</table>

</div>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>